*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	height: 100%;
}
.clear{
	clear: both;
}
.center{
	width: 100%;
	height: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}
.w35{
	width: 35%;
}
.w50{
	width: 50%;
}
.w60{
	width: 60%;
}
.w70{
	width: 70%;
}
header{
	background-color: black;
	width: 100%;
}
/*LOGO*/
.logo{
	position: relative;
	/*background-color: red;*/
	float: left;
	width: 150px;
	height: 30px;
	margin-top: 10px;
}
.logo a{
	font-size: 25px;
	text-decoration: none;
	width: 100%;
	color: #f5941b;
}
.logo img{
	width: 100%;
	height: 100%;
}
/*DESKTOP-MENU*/
.desktop ul{
	float: right;
}
.desktop li{
	float: left;
	list-style-type: none;
	display: block;
}
.desktop li:hover{
	transition: 0.5s;
	background-color: orange;
}
.desktop li a{
	padding: 10px 10px;
	font-size: 18px;
	color: white;
	display:block;
	text-decoration: none;
}
/*MOBILE-MENU*/
.mobile{
	display: none;
	margin-left: 10px;
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-size: 100% 100%;
	background-image: url('../images/bars.png');
}
.mobile ul{
	display: none;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	text-align: center;
	list-style-type: none;
	background-color: #F6A81F;
}
.mobile li:hover{
	background-color:#F8941E;
}
.mobile li{
	border:1px solid #F6801A;
	padding: 5px 0;
	width: 100%;
}
.mobile li a{
	color: black;
	width: 100%;
	font-size: 18px;
	text-decoration: none;
	display: block;
}
/*banner*/
section.banner{
	padding: 15px 0;
	width: 100%;
	/*height: 100%;*/
	background-color: black;
	margin: 0 auto;
}
section.banner .box-single:nth-of-type(1){
	margin-right: 5%;
}
section.banner .box-single:nth-of-type(2){
	padding: 0;
}
section.banner .box-single{
	padding: 2px;
	float: left;
    box-shadow: 1px 1px 4px 0px rgb(251 166 31), 0 0 4px 1px rgb(245 148 27), 0 0 10px 2px rgb(247 127 26);
}

section.banner .box-imagem{
	width: 100%;
	padding-top: calc((9/16)*100%); /*Retangular*/
	/*padding-top: calc((3/4)*100%);*/ /*Quadrado*/
	position: relative;
}
section.banner .box-imagem-wraper{
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom: 0;
}
section.banner .box-imagem-wraper img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
/*temporadas scroll bar*/
.temporadas::-webkit-scrollbar-track{
  border-bottom: 2px solid rgb(247, 127, 26);
}
.temporadas::-webkit-scrollbar{
	height: 10px;
	background-color: black;
}
.temporadas::-webkit-scrollbar-thumb{
	background-color: white;
	background-image: -webkit-gradient(linear, 40% 0%,75% 85%,from(#d17300),to(#ed8200),color-stop(.9,#b26201));
}
/*indicaddor temporadas*/
.temporadas{
	background: rgba(247, 127, 26,0.8);
	width: 100%;
	float: right;
	overflow-x: auto;
	white-space: nowrap;
/*	border-bottom: 5px solid rgb(245, 148, 27);*/
}
.temporada-item{
	float: left;
}
.temporada-item h2{
	cursor: pointer;
	/*width: 100%;*/
	font-size: 20px;
	float: left;
	font-weight: 300;
	padding: 0 1%;
	/*background-color: yellow;*/
}
.temporada-wraper{
	padding-bottom: 5px solid blue;
}

/*Play list scroll bar*/
.play-list::-webkit-scrollbar-track{
  background-color: rgb(251, 166, 31);
  border: 5px solid black;
}
.play-list::-webkit-scrollbar{
	width: 15px;
	background-color: #dfe6e9;
}

.play-list::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: white;
	background-image: -webkit-gradient(linear, 40% 0%,75% 85%,from(#d17300),to(#ed8200),color-stop(.9,#b26201));
}
/*Play List*/
.play-list{
	overflow-y: auto;
	padding: 1%;
	width: 100%;
}
.play-list a{
	display: block;
}
.list-link{
	float: left;
	margin: 1% 0;
	background: rgba(247, 127, 26,0.8);
	width: 100%;
	padding: 1%;
}
.list-link:hover{
	background-color: rgb(251, 166, 31);
}
.img-video{
	float: left;
	width: 30%;
	padding-top: calc((9/16)*30%);
	position: relative;
}
.img-video-wraper{
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom: 0;
}
.img-video img{
	width: 100%;
	height:100%;
}
.descricao-video{
	width: 70%;
	float: left;
}
.descricao-video span{
	padding: 0 2%;
	font-size: 1.3rem;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color:black;

}

/*scroll bar catalogos*/
.destaques::-webkit-scrollbar-track{
	background-color: black;
}
.destaques::-webkit-scrollbar{
	/*max-width: 15px;*/
	height: 5px;
	background-color: #dfe6e9;
}
.destaques::-webkit-scrollbar-thumb{
	border-radius: 5px;
	height: 5px;
	background-color: white;
	background-image: -webkit-gradient(linear, 40% 0%,75% 85%,from(#d17300),to(#ed8200),color-stop(.9,#b26201));
}
/*Catalogos*/
section.catalogos{
	background-color: black;
	height: 300px;
	width: 100%;
}
.catalogos h2{
	font-size: 30px;
	margin: 0 2%;
	color: white;
}
.destaques{
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 2%;
	margin: 0 2%;
	/*background-color: yellow;*/
}
.destaques-wraper{
	float: left;
	/*width: 1600px;*/
	padding: 2% 0;
	/*background-color: red;*/
}
.box{
	width: 325px;
	position: relative;
	/*background-color: green;*/
	float: left;
}
.box-catalogo{
	 z-index: 4;
	margin: 0 2%;
	position: relative;
	padding-top: calc((9/16)*100%);
	/*padding-top: calc((3/4)*100%);*/
	transition: .5s;
	cursor: pointer;
}
.catalogo-imagem{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 1s;
}
.catalogo-imagem img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.box-catalogo:hover{
	z-index: 5;
	object-fit: contain;
	transform: scale(1.2);
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .7);
	/*background: red;*/
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	padding: 0 2%;
}
.box-catalogo:hover .overlay {
	z-index: 5;
	height: 30%;
}
.descricao-catalogo{
/*white-space: nowrap; */
/*-webkit-line-clamp: 2;*/
	position: absolute;
	overflow: hidden;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/ /*centraliza o texto*/
}
.descricao-catalogo span{
	color: white;
    font-size: 15px;
}
/*----------------------------------------------------------------------*/
@media screen and (max-width: 930px){
	header{
		padding: 8px;
	}
	section.banner .box-single{
	width: 100%; 
	}
	.logo{
		margin: 0;
	}
	.mobile{
		display: block;
	}
	.desktop{
	display: none;
	}
	section.banner .box-single:nth-of-type(2){
	margin-top: 2%;
	}
	.border-temporada{
	border-bottom: 5px solid rgb(245, 148, 27);
	width: 100%;
	float: left;
	}
}

/*@media screen and (max-width: 768px){

}*/